<div class="col-12">
    <div class="reply">
        <div class="reply-head">
            <h2 class="reply-title">Leave a Comment</h2>
            <!-- Comment Form -->
            {% if user.is_authenticated %}
            <form class="form" method="post" action="{% url "blog:blog_comment" pk=blog.pk %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Your Message<span>*</span></label>
                            {{ form.message }}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group button">
                            <button type="submit" class="btn">Post comment</button>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="alert alert-danger"><a style="color: #0f94eb; text-decoration: underline;" href="#login">Sign in</a> to add a comment.! </p>
            {% endif %}
            </form>
        </div>
    </div>
</div>