{% extends "include/base.html" %}
{% load static %}

{% block content %}
<title>{% block title %} {{ blog.title }} {% endblock %}</title>

<!-- Breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bread-inner">
					<ul class="bread-list">
						<li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
						<li class="active"><a href="{% url 'blog:blog_detail' blog.id %}">{{ blog.title }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Blog Single -->
<section class="blog-single section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-12">
				<div class="blog-single-main">
					<div class="row">
						<div class="col-12">
							<div class="image">
								<img src="{{ blog.image.url }}" alt="{{ blog.title }}">
							</div>
							<div class="blog-detail">
								<h2 class="blog-title">{{ blog.title }}</h2>
								<div class="blog-meta">
									<span class="author"><a href="#"><i class="fa fa-user"></i>By
											{{ blog.author }}</a><a href="#"><i class="fa fa-calendar"></i>{{ blog.create_at|date:"Y, m, d" }}</a><a
											href="#"><i class="fa fa-comments"></i>Comment ({{ comment_count }})</a>
									</span>
								</div>
								<div class="content">
									<p>
										{% autoescape off %}
										{{ blog.body }}
									    {% endautoescape %}
									</p>
								</div>
							</div>
							<div class="share-social">
								<div class="row">
									<div class="col-12">
										<div class="content-tags">
											<h4>Tags:</h4>
											<ul class="tag-inner">
												{% for tags in blog.tags.all %}
												<li><a href="#">{{ tags.title }}</a></li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="comments">
								<h3 class="comment-title">Comments ({{ comment_count }})</h3>
								{% if comment_count == 0 %}
								<h6 class="alert alert-danger">There is no comment</h6>
								<br>
								{% else %}
								<!-- Single Comment -->
									{% for blog_comment in blog.blog_comments.all %}
										{% if blog_comment.parent == None %}
										<div class="single-comment">
											
											<img src="{{ user.profiles.picture.url }}" alt="{{ blog_comment.username }}">
											<div class="content">
												<form class="form" method="post" action="{% url "blog:blog_comment" pk=blog.pk %}">
													<i style="color: red;
													position: absolute;
													margin: -1px 62px 16px;
													font-size: 17px;" class="fa fa-trash" aria-hidden="true"></i>
												</form>
												<h4>{{ blog_comment.author }}<span>{{ blog_comment.date|date:"Y, m, d" }}</span></h4>
												<p>{{ blog_comment.message }}</p>
												<div class="button">
													<a href="#" class="btn"><i class="fa fa-reply"
															aria-hidden="true"></i>Reply</a>
												</div>
											</div>
										</div>
										{% else %}
										<div class="single-comment left">
											<img src="blog_comment.pictrue.url" alt="#">
											<div class="content">
												<h4>{{ blog_comment.username }}<span>{{ blog_comment.date|date:"Y, m, d" }}</span></h4>
												<p>{{ blog_comment.message }}</p>
											</div>
										</div>
										{% endif %}
									{% endfor %}
								{% endif %}
							</div>
						</div>
						<div class="col-12">
							<div class="reply">
								<div class="reply-head">
									<h2 class="reply-title">Leave a Comment</h2>
									<!-- Comment Form -->
									{% if user.is_authenticated %}
									<form class="form" method="post" action="{% url "blog:blog_comment" pk=blog.pk %}">
										{% csrf_token %}
										<div class="row">
											<div class="col-12">
												<div class="form-group">
													<label>Your Message<span>*</span></label>
													{{ form.message }}
												</div>
											</div>
											<div class="col-12">
												<div class="form-group button">
													<button type="submit" class="btn">Post comment</button>
												</div>
											</div>
										</div>
									{% else %}
										<p class="alert alert-danger"><a style="color: #0f94eb; text-decoration: underline;" href="#login">Sign in</a> to add a comment.! </p>
									{% endif %}
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-12">
				<div class="main-sidebar">
					<!-- Single Widget -->
					<div class="single-widget search">
						<div class="form">
							<input type="email" placeholder="Search Here...">
							<a class="button" href="#"><i class="fa fa-search"></i></a>
						</div>
					</div>
					<!--/ End Single Widget -->
					<!-- Single Widget -->
					<div class="single-widget category">
						<h3 class="title">Blog Categories</h3>
						<ul class="categor-list">
							{% for category in category %}
								<li><a href="#">{{ category.title }}</a></li>
							{% endfor %}
						</ul>
					</div>
					<!--/ End Single Widget -->
					<!-- Single Widget -->
					<div class="single-widget recent-post">
						<h3 class="title">Recent post</h3>
						<!-- End Single Post -->
						{% for recent_posts in recent_posts %}
						<div class="single-post">
							<div class="image">
								<img src="{{ recent_posts.image.url }}" alt="#">
							</div>
							<div class="content">
								<h5><a href="{% url 'blog:blog_detail' recent_posts.id %}">{{ recent_posts.title }}</a></h5>
								<ul class="comment">
									<li><i class="fa fa-calendar" aria-hidden="true"></i>{{ recent_posts.create_at|date:"Y, M, D" }}</li>
									<li><i class="fa fa-commenting-o" aria-hidden="true"></i>{{ comment_count }}</li>
								</ul>
							</div>
						</div>
						{% endfor %}
					</div>
					
					<div class="single-widget side-tags">
						<h3 class="title">Tags</h3>
						<ul class="tag">
							{% for tags in blog.tags.all %}
							<li><a href="#">{{ tags.title }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End Blog Single -->

{% endblock %}